<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 1000;
        opacity: 1;
        transition: opacity 0.5s;
        
    }

    .header a {
        text-decoration: none;
        font-weight: 500;
        font-family:  'Montserrat';
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    #navbarNav {
        width: calc(100vw - 30%);
        margin: 0 auto;
        text-align: center;
    }
    .nav-left .svg-ani {
        width: 50px;
        height: 50px;
    }
    .nav-item {
        width: 250px;
        display: flex;
        align-items: center;
        color: #FFF;
    }

</style>
<nav class="navbar navbar-expand-lg header" id="header">
    <div class="container-fluid">
        <ul class="navbar-nav d-flex justify-content-between" id="navbarNav">
            <div class="nav-left d-flex">
                <li class="nav-item d-flex">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fcb900" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                          </svg>
                    </div>
                    <div>
                        <a class="nav-link hotline svg-ani" >
                            <span class="">(+84)24.9995.9993</span>
                            <span class="">(+84)24.626.00016</span>
                        </a>  
                    </div>
                </li>
                <li class="nav-item" style="text-decoration:underline">
                    <a class="nav-link" href="#"  >ĐĂNG KÝ</a>
                </li>
            </div>
            <div class="nav-center">
                <li class="nav-item">
                    <img src="../image/Logo-Lumi-Hanoi.png" alt="">
                </li>
            </div>
            <div class="nav-right d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#">contact@kland.vn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MENU</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fcb900" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
                        <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0M2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                </li>
            </div>
        </ul>
    </div>
</nav>
  <!-- Navigation -->
  